/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1	{
	padding:0.5em;
	 color: #fff;
}
table{
	 border-collapse: collapse;
}
#banner{
		height: 10em;
		background: url(http://en.es-static.us/upl/2009/06/Alpha_Centauri_-MSX_IPAC_NASA_cropped-300x214.jpg);
}
#banner img{
			float: left;
			width:150px;
			height:100%;
} 	
#banner p{
			float: left;
			font-family: cursive;
			font-size: 3em;
			text-decoration: overline;
			color: #fff;
}
#banner .field{
				color: #fff;
				float: right;
}
#side li {
		display: inline;
}